.profile{
    border: 2px solid black;
    text-align: center;
    padding: 15px;
}

.description{
    color: grey;
}

.avatar{
    border-radius: 50%;
    border: 1px solid black;
    height: 250px;
    width: 250px;
}

.name{
    font-weight: 400;
    text-align: center;
}

.tag{
    font-size: 35px;
}

.location{
    font-size: 35px;
}

.stats{
    font-size: 30px;
    list-style-type: none;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 10px;
}

.label{
    display: block;
    text-decoration: none;
}

.quantity{
    display: block;
    font-weight: 600;
}